---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
import HeaderReal from '../components/HeaderReal.astro';
---

<Layout title="Welcome to Astro.">
	<NavBar />
	<main class="bg-black">
		<HeaderReal />
	</main>
</Layout>

<style>
	
</style>
