---

---

<header class="min-h-screen w-full relative">
    <div class="overlay h-full w-[65%] items-center absolute grid content-center gap-10 z-10 px-[10%]">
        <h1 class="w-full flex flex-col"><strong class="source-serif text-left text-6xl">Create</strong> <small class="text-right text-xl">CONFORT</small></h1>
        <p class="text-pretty">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deserunt repellendus expedita veritatis sint vitae.</p>
    </div>
    <img class="absolute h-full w-full object-right object-cover z-0" src="hero.webp" alt="hero pic">
</header>